<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
    <div class="container-fluid">
        <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions " aria-controls="offcanvasWithBothOptions">
            <span class="navbar-toggler-icon"></span>
        </button>

      <a class="navbar-brand ms-3" href="/">Classroom <i class="fa-solid fa-arrow-right"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link"  href="/listings">Home</a>
        </div>
      </div>
    </div>
  </nav>
<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">One-one Interaction</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <a href="/" style="text-decoration: none;color:black;"><i class="fa-solid fa-user"></i>&nbsp;&nbsp;Teacher Info</a>
    <br />
    <br />
    <a href="/" style="text-decoration: none;color:black;"><i class="fa-solid fa-video"></i>&nbsp;&nbsp;Video Conference</a>
  </div>
</div>