<% layout("/layouts/boilerplate.ejs") %>
<body>

  <h1>Assignment Submission</h1>

  <form action="/listings/submitAssignment" method="POST" enctype="multipart/form-data" >
    <label for="assignmentFile" class="form-label">Select Assignment File:</label>
    <input type="file" name="assignmentFile" class="form-control"/>
    <button class="btn btn-outline-dark mt-3">Submit Assignment</button>
</form>


</body>
