<% layout("/layouts/boilerplate.ejs") %>
<div class="card mt-3">
    <div class="card-header">
      Help Center
    </div>
   
    <div class="card-body">
      <h5 class="card-title">Our team</h5>
      <div class="card-text">
        <div class="show-cards" style="display:flex; gap:50px;">
          <div class="card mb-3" style="width:300px">
            <img src="https://i.ibb.co/vdxyHGC/farewell-pic.jpg" class="card-img-top" alt="..." >
            <div class="card-body">
              <p class="card-text">Email:<b>jitin@gmail.com</b>
              Contact:<b>+918234XXXXXX</b></p>
            </div>
          </div>
            <div class="card mb-3" style="width:300px">
                <img src="https://i.ibb.co/sgZbBDn/Whats-App-Image-2024-02-17-at-19-21-06-70b00c87.jpg" class="card-img-top" alt="..." >
                <div class="card-body">
                  <p class="card-text mt-4">Email:<b>joyastu@gmail.com</b>
                    Contact:<b>+918234XXXXXX</b></p>
                </div>
              </div>
          </div>
        </div>
      <a href="#" class="btn container-fluid btn-primary">Email Us</a>
    </div>
  </div>