<% layout("/layouts/boilerplate.ejs") %>
<div class="card mt-3">
    <div class="card-header">
      Help Center
    </div>
   
    <div class="card-body">
      <h5 class="card-title">Our team</h5>
      <div class="card-text">
        <div class="show-cards" style="display:flex; gap:50px;">
          <div class="card mb-3" style="width:300px">
            <img src="https://images.unsplash.com/photo-1504203772830-87fba72385ee?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="card-img-top" alt="..." >
            <div class="card-body">
              <p class="card-text">Email:<b>jitin@gmail.com</b></p>
            </div>
          </div>
            <div class="card mb-3" style="width:300px">
                <img src="https://images.unsplash.com/photo-1504203772830-87fba72385ee?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="card-img-top" alt="..." >
                <div class="card-body">
                  <p class="card-text">Email:<b>joyastu@gmail.com</b></p>
                </div>
              </div>
          </div>
        </div>
      <a href="#" class="btn container-fluid btn-primary">Email Us</a>
    </div>
  </div>